# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
bsp/stm32l432kc/cubeMX/
!bsp/stm32l432kc/cubeMX/energy_meter_stm32l432kc.ioc
!bsp/stm32l432kc/cubeMX/CMakeLists.txt
!bsp/stm32l432kc/cubeMX/Core/Inc/main.h
!bsp/stm32l432kc/cubeMX/FATFS/Target/user_diskio.c
!bsp/stm32l432kc/cubeMX/FATFS/Target/user_diskio_spi.h
!bsp/stm32l432kc/cubeMX/FATFS/Target/user_diskio_spi.c

.vscode/.cortex-debug.registers.state.json